.color-1 {color: #eecccc;}
.color-2 {color: #aa0000;}
.color-3 {color: #880000;}
.color-4 {color: #660000;}
.color-5 {color: #440000;}
.color-6 {color: #000000;}

.navigationBar {
  background-color: #440000;
  width: 100%;
  display: block;
  overflow: hidden;
  position: sticky;
  position: -webkit-sticky;
}

.navigationBar a {
  color: #eecccc;
  padding: 10px;
  float: right;
  text-align: center;
  text-decoration: none;
}

.navigationBar a:hover {
  background-color: #880000;
}