* {
  margin:0px;
  padding:0px;
}

#octocat {
  display: block;
  width:384px;
  margin: 50px auto;
}

p {
  display: block;
  width: 400px;
  margin: 50px auto;
  font: 30px Monaco,"Courier New","DejaVu Sans Mono","Bitstream Vera Sans Mono",monospace;
}

.color-1 {color: #eecccc;}
.color-2 {color: #aa0000;}
.color-3 {color: #880000;}
.color-4 {color: #660000;}
.color-5 {color: #440000;}
.color-6 {color: #000000;}