.color-1 {color: #eecccc;}
.color-2 {color: #aa0000;}
.color-3 {color: #880000;}
.color-4 {color: #660000;}
.color-5 {color: #440000;}
.color-6 {color: #000000;}

body {
  background-color: #220000;
}

object {
  width: 100%;
  height: 10%;
}